<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/styleMsg.css' />
  </head>
  <body>
    <h1>New Message: </h1>
    <form action="/new" method="post">
      <label for="messageUser">User
        <input type="text" name="messageUser" ></label>
      <label for="messageText">Message
        <input type="text" name="messageText" id="messageBox"></label>
      <button type="submit">submit</button>
    </form>
  </body>
</html>
