<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Messages: </h1>
    <p><%= message.map(e => {
      return (`
      ${e.user} said: ${e.text} at ${e.added}////////////
      `)
    }) %></p>
    <button onclick="location.href='/new'">Add new message</button>
  </body>
</html>
