<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Messages: </h1>
    <p>
      <ul>
        <% message.map(e => { %>
         <li><%= `${e.user} said: ${e.text} at ${e.added}`%></li>
        <% })%>
      </ul>
    </p>
    <button onclick="location.href='/new'">Add new message</button>
  </body>
</html>
