body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e5e5e5;
}

a {
  color: #00B7FF;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#messageBox {
  min-height: 50px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 2px;
}